<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Squadkin_AIAutoProductBuilder::aiautoproductbuilder_main_menu" 
			title="AI Auto Product Builder" 
			module="Squadkin_AIAutoProductBuilder" 
			sortOrder="9999" 
			parent="Squadkin::top_level"
			resource="Squadkin_AIAutoProductBuilder::aiautoproductbuilder_main_menu"/>
		<add id="Squadkin_AIAutoProductBuilder::squadkin_aiautoproductbuilder_generatedcsv" 
			title="AI Product Builder" 
			module="Squadkin_AIAutoProductBuilder" 
			sortOrder="10" 
			resource="Squadkin_AIAutoProductBuilder::aiautoproductbuilder_main_menu" 
			parent="Squadkin_AIAutoProductBuilder::aiautoproductbuilder_main_menu" 
			action="squadkin_aiautoproductbuilder/generatedcsv/index"/>
		<add id="Squadkin_AIAutoProductBuilder::squadkin_aiautoproductbuilder_aiproduct" 
		    title="AI Generated Products" 
			module="Squadkin_AIAutoProductBuilder" 
			sortOrder="20" 
			resource="Squadkin_AIAutoProductBuilder::aiautoproductbuilder_main_menu" 
			parent="Squadkin_AIAutoProductBuilder::aiautoproductbuilder_main_menu" 
			action="squadkin_aiautoproductbuilder/aiproduct/index"/>
		<add id="Squadkin_AIAutoProductBuilder::squadkin_aiautoproductbuilder_config" 
			title="Configuration" 
			module="Squadkin_AIAutoProductBuilder" 
			sortOrder="30" 
			resource="Squadkin_AIAutoProductBuilder::aiautoproductbuilder_main_menu" 
			parent="Squadkin_AIAutoProductBuilder::aiautoproductbuilder_main_menu" 
			action="adminhtml/system_config/edit/section/aiproductbuilder"/>
	</menu>
</config>
