<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Squadkin_SquadexaAI::squadexaiproductcreator_main_menu" 
			title="Squadexa AI" 
			module="Squadkin_SquadexaAI" 
			sortOrder="9999" 
			parent="Squadkin::top_level"
			resource="Squadkin_SquadexaAI::squadexaiproductcreator_main_menu"/>
		<add id="Squadkin_SquadexaAI::squadexa_dashboard" 
			title="Dashboard" 
			module="Squadkin_SquadexaAI" 
			sortOrder="5" 
			resource="Squadkin_SquadexaAI::dashboard" 
			parent="Squadkin_SquadexaAI::squadexaiproductcreator_main_menu" 
			action="squadkin_squadexaai/dashboard/index"/>
        <add id="Squadkin_SquadexaAI::squadkin_squadexaai_product_generation"
             title="Product Generation"
             module="Squadkin_SquadexaAI"
             sortOrder="10"
             resource="Squadkin_SquadexaAI::squadexaiproductcreator_main_menu"
             parent="Squadkin_SquadexaAI::squadexaiproductcreator_main_menu"
             action="squadkin_squadexaai/productgeneration/single"/>
		<add id="Squadkin_SquadexaAI::squadkin_squadexaai_generatedcsv" 
		    title="Generated CSV Files" 
			module="Squadkin_SquadexaAI" 
			sortOrder="20" 
			resource="Squadkin_SquadexaAI::squadexaiproductcreator_main_menu" 
			parent="Squadkin_SquadexaAI::squadexaiproductcreator_main_menu" 
			action="squadkin_squadexaai/generatedcsv/index"/>
		<add id="Squadkin_SquadexaAI::squadkin_squadexaai_aiproduct" 
		    title="Products Data" 
			module="Squadkin_SquadexaAI" 
			sortOrder="30" 
			resource="Squadkin_SquadexaAI::squadexaiproductcreator_main_menu" 
			parent="Squadkin_SquadexaAI::squadexaiproductcreator_main_menu" 
			action="squadkin_squadexaai/aiproduct/index"/>
		<add id="Squadkin_SquadexaAI::squadkin_squadexaai_config" 
			title="Configuration" 
			module="Squadkin_SquadexaAI" 
			sortOrder="40" 
			resource="Squadkin_SquadexaAI::squadexaiproductcreator_main_menu" 
			parent="Squadkin_SquadexaAI::squadexaiproductcreator_main_menu" 
			action="adminhtml/system_config/edit/section/squadexaiproductcreator"/>
	</menu>
</config>
