<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="squadkin_squadexaai" id="squadkin_squadexaai">
			<module before="Magento_Backend" name="Squadkin_SquadexaAI"/>
		</route>
	</router>
</config>
